COOLHURST_USERNAME=
COOLHURST_PASSWORD=
COOLHURST_BASE_URL=https://coolhurst.clubsolution.co.uk/newlook
COOLHURST_BOOKING_AREA=Outdoor Tennis
COOLHURST_DAYS_AHEAD=14
COOLHURST_DB_PATH=./data/courts.db
PLAYWRIGHT_HEADLESS=true
SCRAPE_INTERVAL_SECONDS=60
